:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}

nav {
	position: relative;
	white-space: nowrap;
	background: none;
	padding: var(--underline-height) 0;
	margin: 2em 0;
    width: 60vw;
    left: 37vw;
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: calc(var(--underline-height) / 1.75);
	width: 20%;
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;
	
	&:nth-child(1) {
		background: yellow;
		transition: calc(var(--transition-duration) * .8);
	}
	&:nth-child(2) {
		background: cyan;
		transition: calc(var(--transition-duration) * 1.2);
	}
	&:nth-child(3) {
		background: magenta;
	}
}

a {
	display: inline-block;
	z-index: 10;
	width: 20%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
    text-decoration: none;
    font-size: 2vh;
    font-family: 'Poppins';
    font-weight: bold;
    
}

nav.black {
	.underline {
		background: #222;
		border-radius: .25em;
		height: calc(var(--underline-height) / 2);
		mix-blend-mode: initial;
	}
}

nav.full {
	font-weight: bold;
	background: #111;
	color: white;
	
	.underline {
		height: calc(var(--underline-height) / 2);
		background: gold;
	}
}

nav.retro {
	.underline {	
		border-radius: 100% 100% 0 0;
		
		&:nth-child(1) { background: gold; }
		&:nth-child(2) { background: dodgerblue; }
		&:nth-child(3) { background: tomato; }
	}
}