// #2C3639
// #3F4E4F
// #A27B5C
// #DCD7C9

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: Poppins;
}

.alert{
  top: -20vh;
  width: 301px;
  left: 40vw;
}

:root {
  --color-light: white;
  --color-dark: #874356;
  --color-signal: #F68989;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Poppins', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 900;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  width:800px;
  &--inverted {
    --color-background: var(--color-dark);
    color: var(--color-light);
    --color-shadow: var(--color-accent);
  }
  
  &--accent {
    --color-background: var(--color-signal);
    --color-accent: var(--color-light);
    color: var(--color-dark);
  }
  
  *:first-child {
    margin-top: 0;
  }

  position: relative;
  top: 25vh;
  left: 30vw;
}


.l-design-widht {
  max-width: 40rem;
  padding: 1rem;
}

.input {
  position: relative;
  
  
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    // border-radius: var(--size-radius);
  
    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: var(--color-accent);
      }
    }
  }
}


.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: white;
  border: none;
  border-radius: 50px;
  font-weight: 900;
  font-family: "Poppins";
}

.button-group button:hover{
  background:#874356;
  transition: background .5s ease;
  color: #F68989;
  
}


button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

.icon {
  display: inline-block;
  width: 1em; height: 1em;
  margin-right: .5em;
}

.hidden {
  display: none;
}

input{
  font-family: 'Poppins';
  font-size: 23px;
  font-weight: bold;
}

html{
  padding: 0px;
  background: #F6E7D8;
}

body{
  height: 1080px;
  width: 1920px;
  margin: 0px;
  position: absolute;
  top: 0px;
  overflow-x: hidden;
  background: #F6E7D8;
}


// all tasks page

.taskContainer{
  position: relative;
  left: 30vw;
  height: 10vh;
}

.taskContainer label{
  font-size: 3vh;
  font-family: 'Poppins';
  font-size: 23px;
  font-weight: bold;
  position: relative;
  top: 0.5vh;
}

.individualTaskContainer{
  position: relative;
  left: 0vw;
  top: 10vh;
  padding: 1vh;
  padding-left: 2vw;
}

.form-check-input{
  top: 1vh;
  position: relative;
  width: 1.2vw;
  height: 1.2vw;
}


.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative;
  top: 10vh;
  input,
  svg {
      width: 21px;
      height: 21px;
      display: block;
  }
  input {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      outline: none;
      background: var(--background);
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border-radius: 4px;
      transition: box-shadow .3s;
      box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
      &:hover {
          --s: 2px;
          --b: var(--border-hover);
      }
      &:checked {
          --b: var(--border-active);
      }
  }
  svg {
      pointer-events: none;
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--stroke, var(--border-active));
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
      input {
          &:checked {
              --s: 2px;
              transition-delay: .4s;
              & + svg {
                  --a: 16.1 86.12;
                  --o: 102.22;
              }
          }
      }
      svg {
          stroke-dasharray: var(--a, 86.12);
          stroke-dashoffset: var(--o, 86.12);
          transition: stroke-dasharray .6s, stroke-dashoffset .6s;
      }
  }
  &.bounce {
      --stroke: var(--tick);
      input {
          &:checked {
              --s: 11px;
              & + svg {
                  animation: bounce .4s linear forwards .2s;
              }
          }
      }
      svg {
          --scale: 0;
      }
  }
}

@keyframes bounce {
  50% {
      transform: scale(1.2);
  }
  75% {
      transform: scale(.9);
  }
  100% {
      transform: scale(1);
  }
}
// all tasks page
